
@{
    ViewBag.Title = "Emanuele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Emanuele</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Press the button!</h2>
        <p><a class="btn btn-success" href="">Empty button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Date</h2>
        @if (((int)@ViewData["NumTimes"]) % 2 == 0)
        {
            <p>Today is: @ViewData["DateTime"]</p>
        }
        else
        {
            <p>Refreshed at: @ViewData["DateTime"]</p>
        }
    </div>
    <div class="col-md-4">
        <h2>A loop of Hello!</h2>
        <ul>
            @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
            {
                <li>@ViewData["Message"]</li>
            }
        </ul>
    </div>
</div>